/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

/* Apply a global box-sizing rule */
* {
    box-sizing: border-box;
}

/* Apply the main theme with a light orange background */
body {
    font-family: 'Lora', serif;
    background-color: #FFE5B4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Flex container to position Directions & Sudoku properly */
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px; 
    width: 1308px;
    height: 555px;
}